@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Lato");

            * {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Ubuntu';
}
.nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: relative;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > #nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#file-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;;
}
    #file{
        display: flex;;
        border-right: 2px solid black;
        padding: 20px 30px 20px 0px;
        align-items: center;
    }
    #text{
        display: flex;
        padding: 20px 0 20px 30px;
        align-items: center;;
    }

#text-compare{
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
}
    #text-1{
        width: 44%;
    }
    img{
      vertical-align: middle;
    }
    /*style the file button*/
    input[type="file"]{
      position: relative;
      display: none;
      float: left;
      left: 400px;
    }
    .custom-file-upload{
      border: 4px solid lightgreen;
      background: lightgreen;
    padding: 6px 12px;
    cursor: pointer;
    font-family: "Ubuntu";
    float: left;
    left: 400px;
    top: 477px;
}
#button{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 35px;
    }
        button{
            position: absolute;
            text-decoration: none;
            display: inline-block;
            top; 500px;
            left: 640px;
            border-radius: 20px;
            background-color: #000000;
            color: #ffffff;
            padding: 15px 30px;
            border: none;
            outline: none;
            cursor: pointer;
                                                                                                                                                                           
        }
        
            button img{
            width: 16.5px;
            height: 16.5px;
            vertical-align: middle;
            margin-right: 10px;
            }
